<!DOCTYPE html>
<html>
    <header>
        <title>About</title>
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="../public/js/app.js"></script>
    </header>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="../public/images/ape.png">
        </div>

        {{>footer}}
    </body>
</html>