<!DOCTYPE html>
<html>
    <header>
        <title>Help</title>
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="../public/js/app.js"></script>
    </header>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is some helpful text</p>
        </div>
        {{>footer}}
    </body>
</html>