<!DOCTYPE html>
<html>
    <header>
        <title>Weather</title>
        <link rel="icon" href=".../public/images/cloud.svg" type="image/svg+xml">
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="../public/js/app.js"></script>
    </header>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Get your Weather Here</p>
        </div>
         
        {{>footer}}
    </body>
</html>
