<!DOCTYPE html>
<html>
    <header>
        <title>Weather</title>
        <link rel="stylesheet" href="../public/css/styles.css">
    </header>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Get your Weather Here</p>
            <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>
            <p id="msgOne"></p>
            <p id="msgTwo"></p>
            <p id="msgThree"></p>
        </div>
        {{>footer}}
    </body>
</html>

<script src="../public/js/app.js"></script>