<!DOCTYPE html>
<html>
    <header>
        <title>404</title>
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="../public/js/app.js"></script>
    </header>
    <body>
        {{>header}}
        <h2>{{title}}</h2>
        {{>footer}}
    </body>
</html>